
* {
  font-family: oceanwide;
}
[stroke-dasharray="0px 1px"]{stroke-opacity:0}

body {
  background-color: #FAF5F3;
}

/* body:before {
  filter: saturate(2);
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100lvh;
  z-index: -10;
  background: url(/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* * {
  outline: 1px solid #f00 !important;
} */